{% extends 'base.html' %}
{% load static %}

{% block content %}





<div class="page-content bg-light">
    <!--Banner Start-->
    <div class="dz-bnr-inr bg-secondary overlay-black-light" style="background-image:url(images/background/bg1.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Shop Cart</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                        <li class="breadcrumb-item">Shop Cart</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--Banner End-->


    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table check-tbl">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th></th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td class="product-item-img">
                                        <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.title }}">
                                    </td>
                                    <td class="product-item-name">
                                        {{ item.product.title }}<br>
                                        <small>Size: {{ item.size.name }}</small>
                                    </td>
                                    <td class="product-item-price">₹{{ item.item_price }}</td>
                                    <td class="product-item-quantity">{{ item.quantity }}</td>
                                    <td class="product-item-totle">₹{{ item.subtotal }}</td>
                                    <td class="product-item-close">
                                        <a href="{% url 'remove_from_cart' item.id %}"><i class="ti-close"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row shop-form m-t30">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-0">
                                    <input name="dzEmail" required="required" type="text" class="form-control"
                                        placeholder="Coupon Code">
                                    <div class="input-group-addon">
                                        <button name="submit" value="Submit" type="submit" class="btn coupon">
                                            Apply Coupon
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 text-end">
                            <a href="shop-cart.html" class="btn btn-secondary">UPDATE CART</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 class="title mb15">Cart Total</h4>
                    <div class="cart-detail">
                        <a href="javascript:void(0);" class="btn btn-outline-secondary w-100 m-b20">Bank Offer 5%
                            Cashback</a>
                        <div class="icon-bx-wraper style-4 m-b15">
                            <div class="icon-bx">
                                <i class="flaticon flaticon-ship"></i>
                            </div>
                            <div class="icon-content">
                                <span class=" font-14">FREE</span>
                                <h6 class="dz-title">Enjoy The Product</h6>
                            </div>
                        </div>
                        <div class="save-text">
                            <i class="icon feather icon-check-circle"></i>
                            <span class="m-l10">You will save ₹504 on this order</span>
                        </div>
                        <table>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td><h6 class="mb-0">{{ item.product.title }}</h6></td>
                                    <td class="price"><h6>₹{{ item.subtotal }}</h6></td>
                                </tr>
                                {% endfor %}
                                <td colspan="2"><hr class="my-2"></td>
                                <tr class="total">
                                    <td><h6 class="mb-0">Sub Total</h6></td>
                                    <td class="price"><strong>₹{{ subtotal }}</strong></td>
                                </tr>
                                <tr>
                                    <td><h6 class="mb-0">Delivery Charge</h6></td>
                                    <td class="price">
                                        {% if delivery_charge == 0 %}
                                            FREE
                                        {% else %}
                                            ₹{{ delivery_charge }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <td colspan="2"><hr class="my-2"></td>
                                <tr class="total">
                                    <td><h6 class="mb-0">Total</h6></td>
                                    <td class="price"><strong>₹{{ subtotal }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-secondary w-100">PLACE ORDER</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End-->

</div>


{% endblock %}